.box1{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.inner1{
    display: flex;
    flex-direction: row;
}


.inner2{
    display: flex;
    flex-direction: row;
}

.add{
    text-decoration: none;
    border: 1px solid white;
    border-radius:5px;
    padding: 5px;
}

.add:hover{
    transform: scale(1.1)
}


.username{
    text-decoration: none;
    padding: 5px;
}

.username:hover{
    transform: scale(1.1)
}